In [50]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv('the-american-soldier-classifications-final_tasks.csv')

In [52]:
df[df['subject_ids'] == 20739761]

,Unnamed: 0,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value
1117629,1117629,243016,113630920,JKChung,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other
1117630,1117630,243017,113771945,Preacher357,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other
1117631,1117631,243018,113816312,edmssf,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other
1117632,1117632,243019,243382802,jleon5,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09) VT-H...,T0,Our objective is to capture as much non-recurr...,A continuation page
1117633,1117633,243019,243382802,jleon5,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09) VT-H...,T5,What's the handwritten response of the continu...,I know too many men in the army that are not b...

In [53]:
df = df.drop(columns=["Unnamed: 0"])

In [54]:
df.head()

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
2,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T1,Are there any errors in the transcription?,No
3,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for erasting the time that we wa...
4,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...

In [55]:
df = df.sort_values(by=['classification_id'])
df.head()

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
82,79,77461209,tkotwim,14435708,6cc9b7f179adac01f2361b01b8c430c7.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
144,137,77461216,tkotwim,14435709,5a46559ce5ada22c828308cf50312357.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
183,169,77461229,tkotwim,14435710,e1aceb911174ce99215dd66d06c10ade.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
145,138,77461253,tkotwim,14435709,5a46559ce5ada22c828308cf50312357.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...

In [56]:
ids = np.unique(df["classification_id"])
ids

array([ 77461186,  77461209,  77461216, ..., 281520703, 281521114,
       281521498])

In [57]:
df[df['classification_id'] == 77461209]

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value
82,79,77461209,tkotwim,14435708,6cc9b7f179adac01f2361b01b8c430c7.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...

In [58]:
new_tasks = []
for cid in ids:
    tasks = df[df['classification_id'] == cid]['task']
    n_tasks = len(tasks)
    for i in range(n_tasks):
        new_tasks.append(f"T{i}")

In [59]:
df['task_renamed'] = new_tasks

In [60]:
df[df['subject_ids'] == 20739761]

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value,task_renamed
1117629,243016,113630920,JKChung,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other,T0
1117630,243017,113771945,Preacher357,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other,T0
1117631,243018,113816312,edmssf,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other,T0
1117633,243019,243382802,jleon5,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09) VT-H...,T5,What's the handwritten response of the continu...,I know too many men in the army that are not b...,T0
1117632,243019,243382802,jleon5,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09) VT-H...,T0,Our objective is to capture as much non-recurr...,A continuation page,T1

In [42]:
df = df[['key', 'classification_id', 'user_name', 'subject_ids', 'image_id', 'workflow_name', 'task', 'task_renamed', 'task_label', 'value']]

In [43]:
df.head()

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_renamed,task_label,value
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
82,79,77461209,tkotwim,14435708,6cc9b7f179adac01f2361b01b8c430c7.jpg,Transcribe,T0,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
144,137,77461216,tkotwim,14435709,5a46559ce5ada22c828308cf50312357.jpg,Transcribe,T0,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
183,169,77461229,tkotwim,14435710,e1aceb911174ce99215dd66d06c10ade.jpg,Transcribe,T0,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
145,138,77461253,tkotwim,14435709,5a46559ce5ada22c828308cf50312357.jpg,Transcribe,T0,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...

In [45]:
len(df)

1394141

In [61]:
df1 = df.loc[:600000]
df2 = df.loc[600000:]

In [62]:
df1[df1['subject_ids'] == 20739761]

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value,task_renamed
1117629,243016,113630920,JKChung,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other,T0
1117630,243017,113771945,Preacher357,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other,T0
1117631,243018,113816312,edmssf,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09),T0,Our objective is to capture as much non-recurr...,Other,T0

In [63]:
df2[df2['subject_ids'] == 20739761]

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value,task_renamed
1117633,243019,243382802,jleon5,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09) VT-H...,T5,What's the handwritten response of the continu...,I know too many men in the army that are not b...,T0
1117632,243019,243382802,jleon5,20739761,2521127-09-1205.jpg,Attitudes of and toward Negroes (Roll 09) VT-H...,T0,Our objective is to capture as much non-recurr...,A continuation page,T1

In [46]:
df1.to_csv("the-american-soldier-classifications-final_tasks_renamed_1.csv")
df2.to_csv("the-american-soldier-classifications-final_tasks_renamed_2.csv")