In [6]:
import pandas as pd
import numpy as np
import json
import math

classifications = pandas.read_csv('the-american-soldier-classifications-final.csv')

In [2]:
classifications.head()

,key,classification_id,user_name,subject_ids,image_id,workflow_name,annotations
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""22:00 to 23:00 at night..."
1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""22:00 to 23:00 at night..."
2,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""I see no need for erast..."
3,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""I see no need for wasti..."
4,4,82482029,not-logged-in-e6adad6d6c2d1af8d9a3,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""I see no need for wasti..."

In [3]:
tasks = []
for i in classifications.index:
    json_annotation = json.loads(classifications.annotations[i])
    for j in json_annotation:
        tasks.append(j["task"])
        
unique_tasks = list(np.unique(tasks))
unique_tasks.sort(key=lambda x: int(x.split('T')[1]))
unique_tasks

['T0',
 'T1',
 'T2',
 'T3',
 'T4',
 'T5',
 'T6',
 'T7',
 'T8',
 'T9',
 'T10',
 'T11',
 'T12',
 'T13',
 'T14',
 'T15',
 'T16',
 'T17',
 'T18',
 'T19',
 'T20',
 'T21',
 'T22',
 'T23',
 'T24',
 'T25',
 'T26',
 'T27',
 'T28',
 'T29',
 'T30',
 'T31',
 'T32',
 'T33',
 'T34',
 'T35',
 'T36',
 'T39',
 'T40',
 'T41',
 'T42']